In [ ]:
import pandas as pd
import numpy as np
from pathlib import Path
from datetime import datetime
import os
from collections import namedtuple

In [ ]:
all_countries_dict = {'Argentina': 'ARG', 'Austria': 'AUT', 'Brazil': 'BRA', 'China': 'CHN',
                  'Denmark': 'DNK', 'Finland': 'FIN', 'Ireland': 'IRL', 'Japan': 'JPN',
                  'Mexico': 'MEX', 'Norway': 'NOR', 'Poland': 'POL', 'Romania': 'ROU',
                  'Russia': 'RUS', 'Sweden': 'SWE', 'Switzerland': 'SWZ', 'USA': 'USA','England':'ENG','France':'FRA','Germany':'GER','Italy':'ITA',
                'Netherlands': 'HOL','Belgium':'BEL','Portugal':'POR', 'Spain':'ESP','Turkey':'TUR','Greece':'GRE','Scotland':'SCO'}

In [ ]:
countries_dict = {'Argentina': 'ARG', 'Austria': 'AUT', 'Brazil': 'BRA', 'China': 'CHN',
                  'Denmark': 'DNK', 'Finland': 'FIN', 'Ireland': 'IRL', 'Japan': 'JPN',
                  'Mexico': 'MEX', 'Norway': 'NOR', 'Poland': 'POL', 'Romania': 'ROU',
                  'Russia': 'RUS', 'Sweden': 'SWE', 'Switzerland': 'SWZ', 'USA': 'USA'}

Mindenek előtt csináljunk egy Extra és egy Main mappát amiben különszedjük a main és extra ligákat

Első feladat: Az extra ligáknak a oszlopfőit ki kell cserélni a main ligákéknak a hasonlóival
    Létrehozom a párokat dictionaryként (cimparok) amiket ki kell cserélni
    majd a végigmegy a fileokon és átnevezi az oszlopokat a dictionary alapján

In [ ]:
cimparok = {'Country':'Div','Home':'HomeTeam','Away':'AwayTeam', 'HG':'FTHG', 'AG':'FTAG', 'Res':'FTR','PH':'PSH','PD':'PSD','PA':'PSA'}

In [ ]:
for country, code in countries_dict.items():
    main_path = 'C:\\Users\\juranyid\\Desktop\\Fosztgit\\football-data_adatok\\extra' + country + '\\1'
    df = pd.read_csv(main_path + '\\' + code + '1.csv')
    df=df.rename(columns=cimparok)
    df.to_csv(main_path + "\\" + code + "1.csv", index=False)

a Div oszlopnál az extra ligákban az ország neveket cseréltem ki a code+'1'-re(mivel csak elsőosztály van)

In [ ]:
for country, code in countries_dict.items():
    main_path = 'C:\\Users\\juranyid\\Desktop\\Fosztgit\\football-data_adatok\\extra\\' + country + '\\1'
    df = pd.read_csv(main_path + '\\' + code + '1.csv')
    df['Div']=df['Div'].replace({country : code+'1'})
    df.to_csv((main_path + '\\' + code + '1.csv'),index=False)

Nézzük a main ligákat, végigmegy az összes csv fileon amit talál a main alatt majd a file nevéből kiolvassa a code+osztályt

Majd ezzel felülírja a Div oszlopot

Majd ad egy szezon oszlopot hozzá, szintén a címből kiolvasva

In [94]:
File = namedtuple('File','name path')

In [239]:
#starting path
p =Path('C:/Users/juranyid/Desktop/Fosztgit/football-data_adatok_1/main/')

In [80]:
for item in p.glob('**/*'):
    if item.suffix in ['.csv']:
      #  path = Path.resolve(item)
        df=pd.read_csv(path,engine='python')
        df['Season']=[str(item.name)[5:12].replace('-','/')]*len(df)
        df['Div']=[str(item.name)[0:4]]*len(df)
        df.to_csv(path,index=False)

#sorrend, DATE formátum kijavítása

In [96]:
for item in p.glob('**/*'):
    if item.suffix in ['.csv']:
        path = Path.resolve(item)
        df=pd.read_csv(path,engine='python')
        df['Date']=pd.to_datetime(df['Date'],dayfirst=True)
        df.to_csv(path,index=False)

In [220]:
pe =Path('C:/Users/juranyid/Desktop/Fosztgit/football-data_adatok_1/extra/')

In [205]:
for item in pe.glob('**/*'):
    if item.suffix in ['.csv']:
        path = Path.resolve(item)
        df=pd.read_csv(path,engine='python')
        df['Date']=pd.to_datetime(df['Date'],dayfirst=True)
        df.to_csv(path,index=False)

In [243]:
def change_column_order(df, col_name, index):
    cols = df.columns.tolist()
    cols.remove(col_name)
    cols.insert(index, col_name)
    df.dropna(subset=['HomeTeam'],inplace=True)
    df=df[cols]
    return df

Kezdjük az extra ligákkal, töröljük ki az Na-t. De előbb separeteljük a dfeket szezononként

In [222]:
for item in pe.glob('**/*'):
    if item.suffix in ['.csv']:
        path = Path.resolve(item)
        df=pd.read_csv(path,engine='python')
        df=change_column_order(df, 'Season',2)
        df.to_csv(path,index=False)

Idáig: a már (lépés előtt) szeparált extra fileoknak második helyre tettük a Seasons oszlopot és kitöröltük a Nan-os sorokat

In [250]:
extraliga

,Div,League,Season,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,PSH,PSD,PSA,MaxH,MaxD,MaxA,AvgH,AvgD,AvgA
0,USA1,MLS,2020,2020-02-29,18:00,DC United,Colorado Rapids,1,2,A,2.09,3.59,3.53,2.15,3.74,3.60,2.06,3.55,3.39
1,USA1,MLS,2020,2020-02-29,20:00,Montreal Impact,New England Revolution,2,1,H,2.92,3.44,2.46,2.92,3.50,2.63,2.78,3.38,2.46
2,USA1,MLS,2020,2020-02-29,20:30,Houston Dynamo,Los Angeles Galaxy,1,1,D,2.15,3.83,3.18,2.19,3.95,3.36,2.10,3.77,3.14
3,USA1,MLS,2020,2020-02-29,22:30,San Jose Earthquakes,Toronto FC,2,2,D,1.93,3.97,3.72,1.97,4.00,3.90,1.89,3.84,3.65
4,USA1,MLS,2020,2020-02-29,23:00,FC Dallas,Philadelphia Union,2,0,H,1.93,3.84,3.88,1.97,3.84,4.10,1.90,3.66,3.79

In [251]:
for item in p.glob('**/*'):
    if item.suffix in ['.csv']:
        path = Path.resolve(item)
        df=pd.read_csv(path,engine='python')
        df=change_column_order(df, 'Season',1)
        df.to_csv(path,index=False)

In [252]:
main liga

,Div,Season,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,BbAv<2.5,BbAH,BbAHh,BbMxAHH,BbAvAHH,BbMxAHA,BbAvAHA,PSCH,PSCD,PSCA
0,ENG4,2016/17,2016-08-06,Accrington,Doncaster,3,2,H,2,1,...,1.79,28,0.00,1.93,1.88,2.03,1.94,2.57,3.19,3.11
1,ENG4,2016/17,2016-08-06,Blackpool,Exeter,2,0,H,1,0,...,1.76,28,-0.50,2.28,2.21,1.71,1.67,2.47,3.44,3.03
2,ENG4,2016/17,2016-08-06,Cambridge,Barnet,1,1,D,0,0,...,1.76,29,-0.50,1.83,1.79,2.13,2.03,1.77,3.88,4.93
3,ENG4,2016/17,2016-08-06,Cheltenham,Leyton Orient,1,1,D,0,1,...,1.75,28,0.00,1.99,1.92,1.96,1.89,2.83,3.33,2.69
4,ENG4,2016/17,2016-08-06,Crawley Town,Wycombe,1,0,H,0,0,...,1.73,29,0.25,1.80,1.75,2.18,2.10,3.69,3.30,2.22